<!-- hotel info cards-->
<section class="py-5">
    <h1 class="text-center text-uppercase" style="margin-bottom: 30px;font-size: 35px;">THE BUSINESS DESTINATION FOR DESIGN &amp; HOSPITALITY</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card-container-imagia">
                    <div class="card-imagia">
                        <div class="front-imagia">
                            <div class="cover-imagia"><img class="w-100" alt src="../../assets/images/Hotel/infos/flip-index.jpg" /></div>
                            <div class="user-imagia"><img class="rounded-circle" alt src="../../assets/images/Hotel/infos/index-logo.svg" /></div>
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>The full spectrum of interior design: homeware, furniture, surface materials, lighting, fixtures, technology, &amp;hospitality interiors </em></p>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                        </div>
                        <div class="back-imagia">
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt src="../../assets/images/Hotel/infos/index-logo.svg" style="width: 80px;margin: 0 auto;" /></div>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>VISITOR PROFILE: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">62% Architects, Interior Designers</li>
                                        <li style="font-size: 12px;">15% Buyers, Procurement</li>
                                        <li style="font-size: 12px;">11% Logistics, Import/Export </li>
                                    </ul>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>SECTORS: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">Homeware</li>
                                        <li style="font-size: 12px;">Furniture</li>
                                        <li style="font-size: 12px;">surface materials </li>
                                        <li style="font-size: 12px;">Lighting </li>
                                        <li style="font-size: 12px;">fixtures </li>
                                        <li style="font-size: 12px;">Technology </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #5a66dd;" href="https://www.aaa.com/" target="_blank">VISIT THE WEBSITE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-container-imagia">
                    <div class="card-imagia">
                        <div class="front-imagia">
                            <div class="cover-imagia"><img class="w-100" alt src="../../assets/images/Hotel/infos/flip-hotel.jpg" /></div>
                            <div class="user-imagia"><img class="rounded-circle" alt src="../../assets/images/Hotel/infos/hotel-logo.svg" /></div>
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>Where the hospitality industry meets to source products, find solutions and learn about critical topics</em><br /></p>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                        </div>
                        <div class="back-imagia">
                            <div class="d-flex align-items-center h-100 px-3" style="padding: 0;">
                                <div>
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt src="../../assets/images/Hotel/infos/hotel-logo.svg" style="width: 80px;margin: 0 auto;" /></div>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>VISITOR PROFILE: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">18% General Manager/ VP/ C-Level</li>
                                        <li style="font-size: 12px;">17% Purchasing/ Buying/ Procurement</li>
                                        <li style="font-size: 12px;">37% F&amp;B/ Housekeeping/ Operations/ IT </li>
                                    </ul>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>SECTORS: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">Operating Supplies &amp; Equipment</li>
                                        <li style="font-size: 12px;">Sleep</li>
                                        <li style="font-size: 12px;">HoReCa &amp; Food Services </li>
                                        <li style="font-size: 12px;">Hotel Bathroom &amp; Kitchen </li>
                                        <li style="font-size: 12px;">Hotel Design, Interiors &amp; Fit-out </li>
                                        <li style="font-size: 12px;">Tech &amp; Security </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #856730; border: none !important" href="https://www.aaa.com/" target="_blank">VISIT THE WEBSITE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-container-imagia">
                    <div class="card-imagia">
                        <div class="front-imagia">
                            <div class="cover-imagia"><img class="w-100" alt src="../../assets/images/Hotel/infos/flip-workspace.jpg" /></div>
                            <div class="user-imagia"><img class="rounded-circle" alt src="../../assets/images/Hotel/infos/workspace-logo.svg" /></div>
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>Inspiring the future of commercial interiors for office, education &amp; healthcare </em><br /></p>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                        </div>
                        <div class="back-imagia">
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt src="../../assets/images/Hotel/infos/workspace-logo.svg" style="width: 80px;margin: 0 auto;" /></div>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>VISITOR PROFILE: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">25% Interior Designers/ Architects</li>
                                        <li style="font-size: 12px;">22% Procurement Specialist / Head Buyer</li>
                                        <li style="font-size: 12px;">21% Facilities Managers / HR Managers </li>
                                        <li style="font-size: 12px;">19% Distributors </li>
                                    </ul>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>SECTORS: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">Office Furniture &amp; Furnishings</li>
                                        <li style="font-size: 12px;">Workplace technology</li>
                                        <li style="font-size: 12px;">Wellness Solutions </li>
                                        <li style="font-size: 12px;">Education Facilities Fit-out </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #D7311F; border: none !important" href="https://www.aaa.com/" target="_blank">VISIT THE WEBSITE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-container-imagia">
                    <div class="card-imagia">
                        <div class="front-imagia">
                            <div class="cover-imagia"><img class="w-100" alt src="../../assets/images/Hotel/infos/flip-leisure.jpg" /></div>
                            <div class="user-imagia"><img class="rounded-circle" alt src="../../assets/images/Hotel/infos/leisure-logo.svg" /></div>
                            <div class="py-1 px-3 text-center">
                                <p class="text-secondary mb-3" style="margin-top: 15px;"><em>Highlighting the latest innovations in leisure supplies for pools, resorts, gyms and spa</em><br /></p>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><span><i class="fa fa-plus"></i> More info</span></div>
                        </div>
                        <div class="back-imagia">
                            <div class="d-flex align-items-center h-100 px-3">
                                <div>
                                    <div class="text-center"><img class="img-fluid rounded-circle" alt src="../../assets/images/Hotel/infos/leisure-logo.svg" style="width: 80px;margin: 0 auto;" /></div>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>VISITOR PROFILE: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">33% Architect/ Designer</li>
                                        <li style="font-size: 12px;">21% Engineer</li>
                                        <li style="font-size: 12px;">15% Sports/ Leisure/ Wellness Manager</li>
                                        <li style="font-size: 12px;">12% C-Level/ Director</li>
                                        <li style="font-size: 12px;">11% Procurement/ Buyer</li>
                                    </ul>
                                    <p class="text-start text-sm-start text-center" style="margin-bottom: 10px;font-size: 12px;"><strong>SECTORS: </strong><br /></p>
                                    <ul>
                                        <li style="font-size: 12px;">Sports &amp; Fitness<br /></li>
                                        <li style="font-size: 12px;">Wellness &amp; Spa</li>
                                        <li style="font-size: 12px;">Recreational Fun &amp; Adventure </li>
                                        <li style="font-size: 12px;">Outdoor Furniture </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-imagia w-100 text-secondary position-absolute text-center py-2"><a class="btn btn-primary" role="button" style="padding: 6px 40px;background-color: #0068A7; border: none !important" href="https://www.aaa.com/" target="_blank">VISIT THE WEBSITE</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>